[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "vendor/squirrel"]
	path = vendor/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "vendor/squall"]
	path = vendor/squall
	url = https://github.com/C04dy/squall.git
